
  <div class="row">
    <div class="col-xl-12 form-group">
      <textarea [(ngModel)]="speechForm.speech" class="form-control" cols="30" rows="10"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 form-group">
      <input type="text" [(ngModel)]="speechForm.author" class="form-control">
    </div>
    <div class="col-xl-4 form-group">
      <input type="text" [(ngModel)]="speechForm.subject" class="form-control">
    </div>
    <div class="col-xl-4 form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="speechForm.date" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"> <i class="fa fa-calendar"></i> </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <button class="btn btn-info float-right"> Share </button>
      <button (click)="saveRecord()" class="btn btn-success mr-2 float-right"> Save </button>
      <button (click)="deleteButton()" class="btn btn-danger mr-2 float-right"> Delete </button>
    </div>
  </div>
