<div class="container mt-2">
  <app-top-nav
    (viewSpeechButton)="handleSpeechButton()"
    (submitNewSpeechButton)="handleSubmitButton()"
    (searchAllSpeechButton)="toggleSearchButton()">
  </app-top-nav>

  <app-search-panel
  *ngIf="showSearchPanel"
  (searchSpeech)="handleSearchSpeech($event)"></app-search-panel>

  <div class="row">
    <div class="col-xl-3 mb-2">
      <app-side-panel
        [speechList]="speechList"
        [formState]="formState"
        [searchKeyword]="searchKeyword"
        (selectedSpeechId)="handleSelectedSpeechId($event)"></app-side-panel>
    </div>
    <div class="col-xl-9">
      <app-form-container
        [speechList]="speechList"
        [formState]="formState"
        [selectedSpeechId]="selectedSpeechId"
        (deleteRecord)="handleDeleteRecord()"
        (savedRecord)="handleSavedForm($event)"></app-form-container>
    </div>
  </div>
</div>
