<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ElectionSpeechApp</title>
  <base href="/">
  <meta name="author" content="Carl Angelo Sare">
  <meta name="keywords" content="Angular App|Angular|Election App|Speech App|Sample Angular App">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.9037701e943fb287671d.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.ec2944dd8b20ec099bf3.js"></script><script type="text/javascript" src="polyfills.b384ac03e241f3296218.js"></script><script type="text/javascript" src="main.874e6985cbd8b25df555.js"></script></body>
</html>
